/* 公共显示区域 */
.wrapper {
    width: 960px;
    margin:auto;
}
.em{
    height: 30px;
}
/* 顶部导航栏 */
.navbar {
    display: flex;
    border-radius: 0;
    position: relative;
    margin-bottom: 0;
    height: 40px;
    background-color: #2a2b2d;
    .topbar .list {
        display: flex;
        color: #c2c2c3;
        margin-bottom: 0;
        justify-content: space-evenly;
        padding: 0 30px 0 30px;
        li {
            padding: 8px;
            position: relative;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                color: #ffffff;
            }
            &.active{
                color: #ffffff;
            }
        }
    }
    /* 登录、购物车 */
    .info {
        z-index: 1;
        color: #333333;
        position: absolute;
        display: flex;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .left{
            display: inline-block;
            height: 45px;
            position: relative;
            z-index: 1;
            .login{width: 20px;height: 20px; background: url(../img/icon-bg/user.png) no-repeat;background-position: 0 0; display: inline-block;background-size: 20px 20px;margin-right: 20px;margin-top: 50%;transform: translateY(-50%);cursor: pointer;}
            &:hover .logout{
                display: block;
            }
        }
        .logout1{
            display: none;
        }
        .logout{
            height: 370px;background: #666;position: absolute;    background: #fff;
            border: 1px solid #d6d6d6;
            border-radius: 8px;
            -webkit-box-shadow: 0 20px 40px rgba(0,0,0,.15);
            box-shadow: 0 20px 40px rgba(0,0,0,.15);
            width: 168px;
            padding-top: 18px;
            left: -130px;top: 40px;
            display: none;
            margin-top: 5px;
            z-index: 10;
            .user{
                display: flex;
                flex-flow: column;
                align-items: center;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
                span{
                    padding: 5px 0 15px 0;
                }
            }
            ul{
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                li{
                    border-top: 1px solid #d6d6d6;
                    a{
                        display:block;
                        width: 164px;
                        text-align: center;
                        line-height: 43px;
                        color: #666;
                        &:hover{
                            background: #efefef;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        /* 购物车 */
        .right:hover .shoppingcart{display: block;}
        .shop{
            width: 20px;height: 20px; background: url(../img/icon-bg/shop.png) no-repeat;background-position: 0 0; display: inline-block;background-size: 20px 20px;margin-right: 20px;margin-top: 50%;transform: translateY(-50%);
            cursor: pointer;
        }
        .shoppingcart{
            background: #666;position: absolute;    background: #fff;
            border: 1px solid #d6d6d6;
            border-radius: 8px;
            -webkit-box-shadow: 0 20px 40px rgba(0,0,0,.15);
            box-shadow: 0 20px 40px rgba(0,0,0,.15);
            width: 290px;
            left: -220px;top: 40px;
            display: none;
            z-index: 10;
            /* 购物车为空 */
            .empty{
                text-align: center;display: none;height: 110px;
                i{
                    display: block;height: 50px;width: 50px;position: absolute;left: 50%;transform: translateX(-50%);top: 70px;background: url(../img/icon-bg/shoppingcart.png);background-size: 50px 50px;
                }
                .top{margin-top: 120px;font-size: 14px;}
                .bottom{font-size: 12px;color: #cccccf;}
            }
            /* 购物车有商品 */
            .product{
                li{
                    height: 100px;border-bottom: 1px solid #d6d6d6;display: flex;align-items: center;
                    img{height: 70px;width: 70px;border: 1px solid #d6d6d6;margin:0 10px 0 15px;}
                    h4{font: 14px/18px '';}
                    p:nth-of-type(1){color: #cccccf;font-size: 12px;}
                    p:nth-of-type(2) span:nth-of-type(1){
                        color: red;
                        padding-right: 10px;
                    }
                }
                .total{
                    height: 62px;display: flex;justify-content: space-between;padding: 0 15px 0 15px;align-items: center;
                    p>i{color: red;}
                    button{width: 84px;height: 28px;background: #5d85e5;color: #fff;border: 1px solid #3d60dc;border-radius: 4px;outline: none;
                        cursor: pointer;
                    }
                }
            }
           
        }
    }
}

// 公共导航
footer{
    .wrap{
        width: 960px;
        margin:0px auto;
        background: #fff;
        padding: 30px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d6d6d6;
        .list{
            display: flex;
            flex-flow: row;
            width: 420px;
            justify-content: space-between;
            li:first-child{
                margin-bottom: 10px;
            }
            li{
                margin-bottom: 5px;
                a{
                    color: #666;

                }
            }
            li:hover a{
                text-decoration: none;
                color: #3d60dc;
            }
        }
        .connect{
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            span:nth-of-type(1){
                color: #3d60dc;
                font: 18px/40px '';
                font-weight: bold;
            }
            span:nth-of-type(2),
            span:nth-of-type(3){
                color: #666;
                font-size: 12px;
            }
            span:nth-of-type(4){
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 4px;
                padding: 3px 8px;
                margin-top: 10px;
                color: #5d85e5;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color:#efefef;
                }
            }
        }
    }
    .qua{
        width: 960px;
        margin:0px auto;
        background: #fff;
        padding: 20px 20px 60px 20px;
    }

}