section {
  background: #ededed;
}
section .em {
  height: 30px;
}
section .wrap {
  width: 960px;
  margin: 0px auto;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
section .wrap .img-list {
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
section .wrap .img-list .active {
  border: 2px solid #d6d6d6;
}
section .wrap .img-list img {
  width: 62px;
  height: 62px;
  border: 1px solid #efefef;
  cursor: pointer;
}
section .wrap .bigimg img {
  width: 423px;
  height: 423px;
}
section .wrap .info {
  padding: 60px 10px;
}
section .wrap .info li {
  border-bottom: 1px solid #d6d6d6;
  width: 410px;
}
section .wrap .info li:first-child p:nth-of-type(1) {
  font-size: 20px;
  width: 260px;
}
section .wrap .info li:first-child p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
section .wrap .info li:first-child p:nth-of-type(2) span {
  color: #666;
}
section .wrap .info li:first-child p:nth-of-type(2) :last-child {
  color: red;
  font-size: 20px;
}
section .wrap .info li:nth-of-type(2) {
  height: 88px;
  display: flex;
  align-items: center;
}
section .wrap .info li:nth-of-type(2) h4 {
  width: 60px;
  color: #666;
  font-size: 14px;
}
section .wrap .info li:nth-of-type(2) span {
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
section .wrap .info li:nth-of-type(3) {
  height: 88px;
  display: flex;
  align-items: center;
}
section .wrap .info li:nth-of-type(3) h4 {
  width: 60px;
  color: #666;
  font-size: 14px;
}
section .wrap .info li:nth-of-type(3) span {
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
section .wrap .info li:nth-of-type(4) {
  height: 88px;
  display: flex;
  align-items: center;
}
section .wrap .info li:nth-of-type(4) div {
  padding: 20px 0;
}
section .wrap .info li:nth-of-type(4) div .num {
  width: 40px;
  text-align: center;
  border: none;
  margin: 0 10px;
}
section .wrap .info li:nth-of-type(4) div .reduce {
  display: inline-block;
  width: 20px;
  height: 22px;
  border-radius: 50%;
  transform: translateY(25%);
  background: url(../../img/icon-bg/cut.png);
  background-size: 20px 20px;
  cursor: pointer;
}
section .wrap .info li:nth-of-type(4) div .reduce:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
section .wrap .info li:nth-of-type(4) div .plus {
  display: inline-block;
  width: 20px;
  transform: translateY(25%);
  height: 22px;
  border-radius: 50%;
  background: url(../../img/icon-bg/puls.png);
  background-size: 20px 20px;
  margin: 0;
  cursor: pointer;
}
section .wrap .info li:nth-of-type(4) div .plus:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
section .wrap .info li:nth-of-type(4) h4 {
  width: 60px;
  color: #666;
  font-size: 14px;
}
section .wrap .info li:nth-of-type(4) span {
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
section .wrap .info li:nth-of-type(5) {
  height: 88px;
  display: flex;
  align-items: center;
}
section .wrap .info li:nth-of-type(5) i {
  margin-left: 30px;
  color: #333333;
}
section .wrap .info li:nth-of-type(5) h4 {
  width: 60px;
  color: #666;
  font-size: 14px;
}
section .wrap .info li:nth-of-type(5) span {
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.main .card h3 {
  height: 45px;
  background: #fafafa;
  font: 14px/45px "";
  color: #666666;
  padding-left: 20px;
  font-weight: bolder;
  margin-bottom: 0;
  border-radius: 5px;
}
.main .card h3 img {
  width: 960px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fafafa;
  border-top: 1px solid #d6d6d6;
  padding: 10px 0;
}
.bottom .wrap {
  width: 960px;
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom .wrap p {
  margin-bottom: 0;
}
.bottom .wrap :first-child {
  display: flex;
  color: #666;
  font-size: 14px;
}
.bottom .wrap :first-child p:nth-of-type(1) {
  font-weight: bold;
}
.bottom .wrap :last-child {
  display: flex;
  align-items: center;
}
.bottom .wrap :last-child p {
  color: red;
  font-size: 16px;
}
.bottom .wrap :last-child button:nth-of-type(1) {
  background: #efefef;
  width: 84px;
  height: 35px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-left: 20px;
  outline: none;
}
.bottom .wrap :last-child button:nth-of-type(2) {
  width: 84px;
  height: 35px;
  background: #5d85e5;
  color: #fff;
  border: 1px solid #3d60dc;
  border-radius: 4px;
  margin-left: 20px;
  outline: none;
  padding-right: 80px;
}

/*# sourceMappingURL=product.css.map */
