/* 购物车 */
section{
    background: #ededed;
    width: 100%;
    padding-bottom: 30px;
    .em{
        height: 30px;
    }
    .wrap{
        width: 960px;
        margin:0px auto;
        background: #fff;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 0 20px;
        h3{
            height: 44px;
            margin: 0;
            font: 18px/44px '';
            border-bottom: 1px solid #ededed;
        }
        /* 表头 */
        .carttop{
            height: 30px;
            background: #d6d6d6;
            color: #333333;
            opacity: .5;
        }
        /* 商品 */
        .product{
            border-bottom: 1px solid #ededed;
            td{
                padding: 20px 0;

            }
            td:nth-of-type(1){
                span:nth-of-type(1){
                    font-weight: bold;
                    cursor: pointer;    
                }
                span:nth-of-type(2){
                    
                    width: 200px;
                    color: #666;
                    opacity: .7;
                    font-size: 12px;
               
                }
                img{
                    height: 50px;
                    width: 50px;
                    border: 1px solid #ededed;
                    border-radius: 4px;
                    margin: 0 30px 0 20px;
                    cursor: pointer;
                }
            }
            td:nth-of-type(3){
                .num{
                    width: 40px;
                    text-align: center;

                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                }
                .reduce{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    transform: translateY(25%);
                    background: url(../img/icon-bg/cut.png);
                    background-size: 20px 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(0,0,0,.15);
                    }
                }
                .plus{
                    display: inline-block;
                    width: 20px;
                    transform: translateY(25%);
                    height: 20px;
                    border-radius: 50%;
                    background: url(../img/icon-bg/puls.png);
                    background-size: 20px 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(0,0,0,.15);
                    }
                }
            }
            td:nth-of-type(5){
                span{
                    margin-left: 5px;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: url(../img/icon-bg/del.png) no-repeat;
                    background-size: 18px 18px;
                    // background-position: 0px 0px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(0,0,0,.15);
                    }

                }
            }
            
        }
        /* 结算 */
        .account{
            display: flex;
            height: 60px;
            align-items: center;
            
            p{
                margin-bottom: 0;
            }
            p:nth-of-type(1){
                color: #666;
                cursor: pointer;
            }
            p:nth-of-type(2){
                display: flex;
                flex-flow: column;
                margin-left: 360px;
            }
            p:nth-of-type(3){
                margin-left: 30px;
                .total{
                    color: red;
                    display: inline-block;
                    width: 60px;
                }
            }
            button{
                width: 84px;
                height: 35px;
                background: #5d85e5;
                color: #fff;
                border: 1px solid #3d60dc;
                border-radius: 4px;
                margin-left: 20px;
                padding-left: 12px;
            }
        }
    }
}
























